
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">

            <div class="main">
                <h4>Yes Bank <br><br><h5>Deposit</h5></h4><br>

               
             <form (ngSubmit)="deposit()">

                <input id="accnotext" type="text" class="text" name="accno" [(ngModel)]="accno" placeholder="Account number"><br><br>
                <input id="pwdtext" type="password" class="text" name="pswd" [(ngModel)]="pswd"  placeholder="Password" ><br> <br>
                <input id="amttext" type="text" class="text" name="amount" [(ngModel)]="amount" placeholder="Amount"><br> <br>


                <input type="submit" value="Deposit" class="button butefct"> <br>

                
            </form>        
                
            </div>
        </div>
        
        <div class="col-2"></div>
        <div class="col-4">

            <div class="main">
                <h4>Yes Bank <br><br><h5>Withdraw</h5></h4><br>

               
             <form ngSubmit="withdraw()">

                <input id="accnotext" type="text" class="text" name="wacno" [(ngModel)]="wacno" placeholder="Account number"><br><br>
                <input id="pwdtext" type="password" class="text" name="wpswd" [(ngModel)]="wpswd"  placeholder="Password" ><br> <br>
                <input id="amttext" type="text" class="text" name="wamount" [(ngModel)]="wamount" placeholder="Amount"><br> <br>


                <input type="submit" value="Withdraw" class="button button1 butefct"> <br>

                
            </form>        
                
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    </div>
